/* src/components/common/InputText.css */

.form-control-custom {
  border-radius: 8px;
  border: 1px solid #ced4da; /* Default border */
  padding: 0.75rem 1rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  height: 47px;
}

/* Hover state */
.form-control-custom:hover {
  border-color: #a381ff; /* Purple border on hover */
}

/* Active/Focus state */
.form-control-custom:focus {
  border-color: #a381ff; /* Purple border on focus */
  box-shadow: 0 0 0 0.2rem rgba(163, 129, 255, 0.25); /* Purple shadow on focus */
}

/* Error state */
.form-control-custom.is-invalid {
  border-color: #dc3545; /* Red border for error */
}

.form-control-custom.is-invalid:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25); /* Red shadow for error on focus */
}

.invalid-feedback-custom {
  color: #dc3545; /* Red text for error message */
  display: block; /* Make sure it's visible */
}

.form-control-custom::placeholder {
  font-size: 0.85rem;
  color: #b0b0b0;
  opacity: 1;
} 